{# empty Twig template #}

<h2>Liste des Voitures Commerciales</h2>

<table border="1">
    
    <tr>
        <td>Id</td>
        <td>Marque</td>
        <td>NbrPlace</td>
        <td>NumImmatricule</td>
        <td>Kilomtetragel</td>
        <td>Modele</td>
        <td>DateDachat</td>
        <td>Carburant</td>
        <td>EtatVehicule</td>
        <td>PuissanceFiscale</td>
        <td>PuissanceMecanique</td>
        <td>Disponibilité</td>
        <td>Adresse Parc</td>
        <td>Commerce</td>
        
        <td>Supprimer</td>
        <td>Modifier</td>
        
        
    </tr>
    {%for vehicule in vehicules%}
        <tr>
            <td>{{ vehicule.Id }}</td>
            <td>{{ vehicule.Marque }}</td>
            <td>{{ vehicule.NbrPlace }}</td>
            <td>{{ vehicule.NumImmatricule }}</td>
            <td>{{ vehicule.Kilomtetrage }}</td>
            <td>{{ vehicule.Modele }}</td>
            <td>{{ vehicule.DateDachat|date('d/m/y')}}</td>
            <td>{{ vehicule.Carburant }}</td>
            <td>{{ vehicule.EtatVehicule }}</td>
            <td>{{ vehicule.PuissanceFiscale }}</td>
            <td>{{ vehicule.PuissanceMecanique}}</td>
            <td>{{ vehicule.Disponibilite}}</td>
            <td>{{ vehicule.parc}}</td>
            <td>{{ vehicule.Commerce}}</td>
            
            <td> <a href="{{path("PPE_supprimer_VehiculeCommerciale",{'id':vehicule.Id})}}">suppimer</a></td>
            <td> <a href="{{path("PPE_modifier_VehiculeCommerciale",{'id':vehicule.Id})}}">modifier</a></td>
            
        </tr>
    {% endfor%}
    
    
    
    
</table>
    
    <br><br>
    
    <a href="{{path("PPE_recherche_VehiculeCommerciale")}}">Rechercher Un Vehicule De Commerce</a>
    
    <br>
    
   
        <a href="{{path("PPE_ajout_VehiculeCommerciale")}}">Ajouter Un Vehicule De Commerce</a>
        
      <br>
      
       <a href="{{path("PPE_VehiculeCommerciale_disp")}}">Les Vehicules Commerciales Disponibles</a>